/* :root {
  --font-family: "Inter", sans-serif;
  --primary: hsl(345, 85%, 75%);
  --light-10: hsla(0, 0%, 0%, 0.1);
  --light-15: hsla(0, 0%, 0%, 0.15);
  --light-20: hsla(0, 0%, 0%, 0.2);
  --light-80: hsla(0, 0%, 0%, 0.8);
  --light-90: hsla(0, 0%, 0%, 0.9);
  --medium: hsla(0, 0%, 0%, 0.5);
  --background: hsl(0, 0%, 100%);
  --main-background: hsl(0, 0%, 90%);
  --text-color: var(--light-80);
} */
:root {
  --font-family: "Inter", sans-serif;
  --primary: hsl(345, 85%, 30%);
  --light-05: hsla(0, 0%, 100%, 0.05);
  --light-10: hsla(0, 0%, 100%, 0.1);
  --light-15: hsla(0, 0%, 100%, 0.15);
  --light-20: hsla(0, 0%, 100%, 0.2);
  --light-30: hsla(0, 0%, 100%, 0.3);
  --light-40: hsla(0, 0%, 100%, 0.4);
  --light-50: hsla(0, 0%, 100%, 0.5);
  --light-60: hsla(0, 0%, 100%, 0.6);
  --light-70: hsla(0, 0%, 100%, 0.7);
  --light-75: hsla(0, 0%, 100%, 0.75);
  --light-80: hsla(0, 0%, 100%, 0.8);
  --light-85: hsla(0, 0%, 100%, 0.85);
  --light-90: hsla(0, 0%, 100%, 0.9);
  --light-95: hsla(0, 0%, 100%, 0.95);
  --medium: hsla(0, 0%, 100%, 0.5);
  --background: hsl(0, 0%, 0%);
  --main-background: hsl(0, 0%, 5%);
  --text-color: var(--light-70);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(345, 85%, 30%);
    --light-05: hsla(0, 0%, 100%, 0.05);
    --light-10: hsla(0, 0%, 100%, 0.1);
    --light-15: hsla(0, 0%, 100%, 0.15);
    --light-20: hsla(0, 0%, 100%, 0.2);
    --light-70: hsla(0, 0%, 100%, 0.7);
    --light-75: hsla(0, 0%, 100%, 0.75);
    --light-80: hsla(0, 0%, 100%, 0.8);
    --light-85: hsla(0, 0%, 100%, 0.85);
    --light-90: hsla(0, 0%, 100%, 0.9);
    --light-95: hsla(0, 0%, 100%, 0.95);
    --medium: hsla(0, 0%, 100%, 0.5);
    --background: hsl(0, 0%, 7.5%);
    --main-background: hsl(0, 0%, 5%);
    --text-color: var(--light-80);
  }
} */

* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 var(--font-family);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  background: var(--background);
  color: var(--text-color);
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  background: var(--primary);
  border: none;
  color: inherit;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button--icon {
  width: 3rem;
  height: 3rem;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 50%;
}
.button--icon:disabled {
  background: var(--background);
}
.button:focus,
.button:active,
.button--icon:focus,
.button--icon:active {
  filter: saturate(1.5);
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
}

/* INPUT */
.input--text {
  width: 100%;
  height: 3rem;
  padding: 0.25rem 1rem;
  appearance: none;
  background: none;
  border: 1px solid var(--light-20);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 0.875rem;
  color: inherit;
}

.icon {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

.container {
  width: 100%;
  max-width: 40rem;
  padding: 0 0.75rem;
}

/* CHAT */
@keyframes chat-bubble {
  from {
    transform: scale(0);
  }
  to {
    transform: none;
  }
}
.chat__message {
  max-width: 80%;
  padding: 0.25rem 0.75rem;
  background: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  animation-name: chat-bubble;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.25, 0.25, 0, 1.5);
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  will-change: transform;
}
.chat__message--me {
  justify-self: end;
  background: var(--light-15);
  transform-origin: bottom right;
}
.chat__message--other {
  justify-self: start;
  background: var(--light-10);
  transform-origin: bottom left;
}
.chat__message div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.chat__message time {
  font-size: 0.675em;
  color: var(--light-40);
}
.chat__input {
  border: none;
  padding-left: 1.25rem;
}
.chat__button {
  background: none;
  margin-right: 0.5rem;
}
/* .chat__button .icon {
  width: 1.125em;
  height: 1.125em;
  transform: rotate(-90deg);
} */

.button--room {
  font-size: 1.125rem;
  justify-self: center;
}

.pages {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.pages__container {
  display: flex;
  flex-wrap: nowrap;
}
.pages .page {
  position: sticky;
  width: 100vw;
  scroll-snap-align: start;
}

.page.drawer {
  /* width: 100%; */
  max-width: 25rem;
  background: #2228;
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--light-15);
}

.item {
  border: solid #222;
  border-width: 1px 0;
  padding: 0.75rem 1rem;
  margin-top: -1px;
}
